<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/static/nav.css">
        <link rel="stylesheet" href="/static/about.css">

        <link rel="icon" href="https://cdn.nba.com/manage/2021/10/GettyImages-1228132003.png">

        <title>About - NBA Player Tracker</title>
    </head>

    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a class="active" href="about.html">About</a>
            <a href="feedback.html">Feedback</a>
        </div>

        <div id="actual-text">
            <h1>Wanna learn more about the NBA Player Tracker?</h1>
            <p> It's a simple tool that allows you to search NBA players by using an NBA API, and return back that particular player with his career stats. </p>
        </div>

        <div id="credits">
            <p>API: <a href="https://github.com/swar/nba_api" target="_blank">https://github.com/swar/nba_api</a></p>
            <p>Data Provided By: <a href="https://stats.nba.com/" target="_blank">https://stats.nba.com/</a></p>
        </div>


        <div id="about-us">
            <h2> Learn a little bit more about the creators!</h2>
            <p> Hey! My name is <a href="https://www.linkedin.com/in/alvin-ly-0368491b4/" target="_blank"> Alvin Ly </a> and I'm currently a Junior at UC Irvine studying Computer Science!</p> 
            <p> I love making websites and I plan to be a full-stack engineer once I graduate! </p> <br>

            <p> Hello! I'm <a href="https://www.linkedin.com/in/johnson-dinh-251b86194/" target="_blank"> Johnson Dinh</a>, a Computer Science undergraduate specializing in Intelligent Systems, studying at UC Irvine.</p> 
            <p> I love working with data and learning about related topics such as Data Analysis/Engineering, Machine Learning, and Backend Development. <br> Other interests of mine, with regards to my field of study, include Software Engineering, Game Development, and Web/App Development! </p>

        </div>
        


        
    </body>

</html>
