<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/static/nav.css">
        <link rel="stylesheet" href="/static/feedback.css">

        <link rel="icon" href="https://cdn.nba.com/manage/2021/10/GettyImages-1228132003.png">

        <title>Feedback - NBA Player Tracker</title>
    </head>

    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="about.html">About</a>
            <a class="active" href="feedback.html">Feedback</a>
        </div>

        <div class="google-form">
            <iframe frameborder="0" src="https://docs.google.com/forms/d/e/1FAIpQLSfIuycEaVL72vk4nI769YCcoTHdk8jDoh93scR-ie0wnUaPFg/viewform?embedded=true"></iframe>
        </div>

        
    </body>

</html>